*
!/docs/
!/docs/**
!/_includes/
!/_includes/**
!/_layouts/
!/_layouts/**
!/base.css
!/404.html
!/index.html
!/base.js
!/icon.png
!/mbedicon.png
!/favicon.ico
!/_config.yml
.**
!/.github/
!/.github/**
!/.gitignore
