*
!/docs/
!/docs/**
!/news/
!/news/**
!/online-demo/
!/_includes/
!/_includes/**
!/_layouts/
!/_layouts/**
!/base.css
!/404.html
!/index.html
!/icon.png
!/mbedicon.png
!/favicon.ico
!/_config.yml
.**
!/online-demo/.emscr_shell.html
!/online-demo/.make.sh
!/.github/
!/.github/**
!/.gitignore
!/.minify.json
