*
!/docs/
!/docs/**
!/news/
!/news/**
!/online-demo/
!/propaganda/
!/propaganda/**
!/_includes/
!/_includes/**
!/_layouts/
!/_layouts/**
!/404.html
!/base.css
!/base.js
!/bg.png
!/favicon.ico
!/index.md
!/icon.png
!/mbedicon.png
!/sidebar.png
!/_config.yml
.**
!/online-demo/.content.txt
!/online-demo/.emscr_shell.html
!/online-demo/.make.sh
!/online-demo/.mkdemo.sh
!/.github/
!/.github/**
!/.gitignore
!/.minify.json
