---
layout: none
---

{%- include globals.liquid -%}

{%- assign panel-bg-color = "#314b78" -%}
{%- assign panel-border-br-color = "#3b5788" -%}
{%- assign panel-border-dim-color = "#1c3057" -%}
{%- assign code-bg-color = "#3b4668" -%}
{%- assign code-border-br-color = "#4a5881" -%}
{%- assign code-border-dim-color = "#2d364f" -%}
{%- assign table-bg-color = "#131626" -%}
{%- assign thead-bg-color = "#314b78" -%}
{%- assign table-border-br-color = "#3b5788" -%}
{%- assign table-border-dim-color = "#1c3057" -%}
{%- assign border-br-color = "#5f82be" -%}
{%- assign border-dim-color = "#435d86" -%}
{%- assign blockquote-bg-color = "#131626" -%}
{%- assign font-color = "#ffffff" -%}
{%- assign inactive-color = "#bbbbbb" -%}
{%- assign link-color = "#fff07a" -%}
{%- assign hover-link-color = "#fffcee" -%}
{%- assign dead-link-color = "#bbbbbb" -%}
{%- assign hover-dead-link-color = "#d9d9d9" -%}

{%- assign code-op-color = "#fff286" -%}
{%- assign code-kw-color = "#ff8f34" -%}
{%- assign code-type-color = "#4ca8ff" -%}
{%- assign code-num-color = "#ff4b4b" -%}
{%- assign code-str-color = "#64ff64" -%}
{%- assign code-esc-color = "#a5a9a5" -%}
{%- assign code-char-color = "#f185ff" -%}
{%- assign code-comment-color = "#bde0ff" -%}
{%- assign code-preproc-color = "#2bffff" -%}
{%- assign code-preprocfile-color = "#d9ffff" %}
{%- assign code-error-bgcolor = "#ff5555" %}

html {
    font-family: arial, helvetica, sans-serif;
    color: {{ font-color }};
    line-height: 140%;
    cursor: default;
    margin: 0;
}
body {
    margin: 0;
    padding: 0 calc(50vw - 45em);
}

a {
    text-decoration: none;
    color: {{ link-color }};
}
a:hover {
    text-decoration: underline;
    color: {{ hover-link-color }};
}
a.secret {
    text-decoration: none;
    color: {{ font-color }};
}
a.secret:hover {
    text-decoration: underline;
}

p {
    margin: 0.3em 0;
}

@keyframes headerjump {
    from {background: #c6c600;}
    to {background: none;}
}
h1, h2, h3, h4, h5, h6 {
    width: fit-content;
    margin: 0.5em 0;
}
h1 {font-size: 2em;}
h2 {font-size: 1.8em;}
h3 {font-size: 1.6em;}
h4 {font-size: 1.4em;}
h5 {font-size: 1.2em;}
h6 {font-size: 1em;}
h1:target, h2:target, h3:target, h4:target, h5:target, h6:target {
    animation-name: headerjump;
    animation-duration: 3s;
}

code, pre, textarea {
    cursor: text;
    font-family: hack, courier new, monospace;
    font-size: 1em;
    background: {{ code-bg-color }};
    border-radius: 0.2em;
}
code {
    border: 0 solid {{ code-bg-color }};
    border-width: 0 0.2em;
}
pre > code {
    border-width: 0;
}
pre {
    white-space: pre-wrap;
    min-width: 60%;
    width: fit-content;
    max-width: 100%;
    margin: 0.3em 0;
    padding: 0.5em;
    overflow-x: auto;
    word-wrap: break-word;
}
textarea {
    color: {{ font-color }};
    width: calc(100% - 1.4em);
    margin: 0.3em 0;
    padding: 0.5em;
    border: 0;
}
pre, textarea {
    border-top: 0.2em solid {{ code-border-dim-color }};
    border-left: 0.2em solid {{ code-border-dim-color }};
    border-bottom: 0.2em solid {{ code-border-br-color }};
    border-right: 0.2em solid {{ code-border-br-color }};
}

img {
    border: none;
    border-radius: 0.2em;
}
canvas {
    border: none;
    border-radius: 0.2em;
}

@media screen {
    .highlight .o, .highlight .ow {color: {{ code-op-color }};}
    .highlight .k {color: {{ code-kw-color }}; font-weight: bold;}
    .highlight .kt {color: {{ code-type-color }}; font-weight: bold;}
    .highlight .m, .highlight .mb, .highlight .mf,
        .highlight .mh, .highlight .mi, .highlight .li,
        .highlight .mo, .highlight .mx {color: {{ code-num-color }};}
    .highlight .s, .highlight .sa, .highlight .sb,
        .highlight .dl, .highlight .sd, .highlight .s2,
        .highlight .sh, .highlight .si, .highlight .sx,
        .highlight .sr, .highlight .s1, .highlight .ss {color: {{ code-str-color }};}
    .highlight .sc {color: {{ code-char-color }};}
    .highlight .se {color: {{ code-esc-color }};}
    .highlight .c, .highlight .cd, .highlight .cm,
        .highlight .c1, .highlight .cs {color: {{ code-comment-color }};}
    .highlight .ch {color: {{ code-comment-color }}; font-weight: bold;}
    .highlight .cp {color: {{ code-preproc-color }}; font-weight: bold;}
    .highlight .cpf {color: {{ code-preprocfile-color }}; font-weight: normal;}
    .highlight .err {color: {{ font-color }}; background-color: {{ code-error-bgcolor }};}}

hr {
    border: none;
    border-top: 0.2em groove {{ border-br-color }};
    margin-top: 1.25em;
    margin-bottom: 1.25em;
}
hr.slim {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
hr.semi {
    border-top: 0.15em solid {{ border-dim-color }};
}

table {
    background: {{ table-bg-color }};
    border-top: 0.2em solid {{ table-border-br-color }};
    border-left: 0.2em solid {{ table-border-br-color }};
    border-bottom: 0.2em solid {{ table-border-dim-color }};
    border-right: 0.2em solid {{ table-border-dim-color }};
    border-radius: 0.2em;
    border-spacing: 0;
}
thead {
    background: {{ thead-bg-color }};
}
tr {
    border-top: 0.2em groove {{ table-border-br-color }};
}
th, td {
    padding: 0.25em 0.4em;
}
td {
    border: inherit;
}
th {
    border-left: 0.2em groove {{ table-border-br-color }};
}
td {
    border-left: 0.2em groove {{ table-border-br-color }};
}
th:first-child, td:first-child {
    border-left: none;
}

table.container, tbody.container, thead.container, tr.container, th.container, td.container {
    border: none;
    padding: 0;
    background: none;
    vertical-align: top;
}

ul, ol {
    padding-left: 2.5em;
}

blockquote {
    margin: 0;
    padding: 0 0.8em;
    border-left: 0.2em ridge {{ border-br-color }};
    width: fit-content;
}
blockquote.note {
    border-left-color: #0084ff;
}
blockquote.tip {
    border-left-color: #00ff00;
}
blockquote.important {
    border-left-color: #8f05ff;
}
blockquote.warning {
    border-left-color: #fff700;
}
blockquote.caution {
    border-left-color: #ff0000;
}

center {
    text-align: center;
}

.inactive {
    color: {{ inactive-color }};
}

.collapsible-link {
    cursor: pointer;
    text-decoration: none;
    color: {{ link-color }};
}
.collapsible-link:hover {
    text-decoration: underline;
    color: {{ hover-link-color }};
}
.collapsible-empty {
    text-decoration: none;
    color: {{ dead-link-color }};
}
.collapsible-empty:hover {
    text-decoration: underline;
    color: {{ hover-dead-link-color }};
}
.collapcontent {
    display: block;
    margin-left: 1.5em;
}

.mdbr {
    margin-top: 0.65em;
    margin-bottom: 0.45em;
}

.hidden {
    display: none !important;
}

#_header, #_footer, #_sidebar {
    background: {{ panel-bg-color }};
    border-top: 0.2em solid {{ panel-border-br-color }};
    border-left: 0.2em solid {{ panel-border-br-color }};
    border-bottom: 0.2em solid {{ panel-border-dim-color }};
    border-right: 0.2em solid {{ panel-border-dim-color }};
    border-radius: 0.2em;
}
#_header, #_footer {
    margin: 0;
    padding: 0.2em 0.5em 0.25em 0.5em;
}
#_content {
    padding: 3.25em;
}
#_content > *:first-child {
    margin-top: 0;
}
#_sidebar {
    padding: 0.5em;
}
.sidebarcontainer {
    width: 10em;
}
.sidebarimg {
    width: 10em;
    height: 10em;
}
@media print {
    code {
        border: 0.1em solid {{ code-bg-color }};
        padding: 0 0.2em;
    }
    pre > code {
        border-width: 0;
        padding: 0;
    }
    pre {
        border: 0.1em solid {{ code-bg-color }};
    }
    * :not(html, body, #_main, #_content, #_content *) {
        display: none !important;
    }
}
