---
layout: none
---

:root {
    /* theme */

    --bg-color: #061034;
    --panel-bg-color: #20305f;
    --panel-border-color: #6d8dcb;
    --code-bg-color: #3b4668;
    --table-bg-color: #000822;
    --thead-bg-color: #20305f;
    --border-color: #7b8dc3;
    --font-color: #ffffff;
    --inactive-color: #bbbbbb;
    --link-color: #fff07a;
    --hover-link-color: #fffcee;
    --dead-link-color: #bbbbbb;
    --hover-dead-link-color: #d9d9d9;

    --code-op-color: #fff286;
    --code-kw-color: #ff8f34;
    --code-type-color: #4ca8ff;
    --code-num-color: #ff4b4b;
    --code-str-color: #64ff64;
    --code-esc-color: #a5a9a5;
    --code-char-color: #f185ff;
    --code-comment-color: #bde0ff;
    --code-preproc-color: #2bffff;
    --code-preprocfile-color: #d9ffff;

    font-family: arial, helvetica, sans-serif;
    color: var(--font-color);
    background-color: var(--bg-color);

    /* layout */

    {% assign sidebar_maxwidth = "180px" %}
    --sidebar-maxwidth: {{ sidebar_maxwidth }};
    --sidebar-width: max(10rem, min(16vw, var(--sidebar-maxwidth)));
    {% assign sep_maxsize = "16px" %}
    --hsep-size: max(6px, min(calc(10vw - 74px), {{ sep_maxsize }}));
    --vsep-size: max(4px, min(calc(10vw - 74px), {{ sep_maxsize }}));

    font-size: max(6pt, min(1.5vw, 12pt));
    line-height: 135%;
    cursor: default;
}

html {
    display: flex;
    min-height: 100%;
}
body {
    display: flex;
    flex-flow: row;
    padding: 0 calc(20vw - 160px);
    margin: 0.5em;
    min-height: 100%;
    flex: 1 1 auto;
}

a {
    text-decoration: none;
    color: var(--link-color);
}
a:hover {
    text-decoration: underline;
    color: var(--hover-link-color);
}

p {
    margin: 0.3em 0;
}

@keyframes headerjump {
    from {background: #c6c600;}
    to {background: none;}
}
h1, h2, h3, h4, h5, h6 {
    width: fit-content;
    margin: 0.5em 0;
}
h1 {font-size: 2rem;}
h2 {font-size: 1.8rem;}
h3 {font-size: 1.6rem;}
h4 {font-size: 1.4rem;}
h5 {font-size: 1.2rem;}
h6 {font-size: 1rem;}
:is(h1, h2, h3, h4, h5, h6):target {
    animation-name: headerjump;
    animation-duration: 3s;
}

code, pre {
    cursor: text;
    font-family: hack, courier new, monospace;
    background: var(--code-bg-color);
    border-radius: 0.275em;
}
code {
    border: 0 solid var(--code-bg-color);
    border-width: 0 0.2em;
}
pre > code {
    border-width: 0;
}
pre {
    white-space: pre-wrap;
    min-width: 60%;
    width: fit-content;
    max-width: 100%;
    margin: 0.3em 0;
    padding: 0.5em;
    overflow-x: auto;
    word-wrap: break-word;
}

@media screen {
    {% assign tmp = "pre.highlight > code > span" %}
    {{ tmp }}.o {color: var(--code-op-color);}
    {{ tmp }}.k {color: var(--code-kw-color); font-weight: bold;}
    {{ tmp }}.kt {color: var(--code-type-color); font-weight: bold;}
    {{ tmp }}:is(.mi, .mo, .mh, .mb) {color: var(--code-num-color);}
    {{ tmp }}.s {color: var(--code-str-color);}
    {{ tmp }}.sc {color: var(--code-char-color);}
    {{ tmp }}.se {color: var(--code-esc-color);}
    {{ tmp }}:is(.c1, .cm) {color: var(--code-comment-color);}
    {{ tmp }}.cp {color: var(--code-preproc-color); font-weight: bold;}
    {{ tmp }}.cpf {color: var(--code-preprocfile-color); font-weight: normal;}
    {% assign tmp = nil %}
}

hr {
    border: none;
    border-top: 0.15rem solid var(--border-color);
    margin-top: 1.25em;
    margin-bottom: 1.25em;
}
hr.slim {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
hr.semi {
    border-top-style: dotted;
}

table {
    background: var(--table-bg-color);
    border: 0.15rem solid var(--border-color);
    border-radius: 0.275em;
    border-spacing: 0;
}
thead {
    background: var(--thead-bg-color);
}
tr {
    border-top: 0.15rem solid var(--border-color);
}
th, td {
    padding: 0.25rem 0.3rem;
}
td {
    border: inherit;
}
th:not(:first-child), td:not(:first-child) {
    border-left: 0.15rem dotted var(--border-color);
}
td:last-child {
    border-right: none;
}

ul, ol {
    padding-left: 2.5em;
}

center {
    text-align: center;
}

inactive {
    color: var(--inactive-color);
}

.collapsible-link {
    cursor: pointer;
    text-decoration: none;
    color: var(--link-color);
}
.collapsible-link:hover {
    text-decoration: underline;
    color: var(--hover-link-color);
}
.collapsible-empty {
    text-decoration: none;
    color: var(--dead-link-color);
}
.collapsible-empty:hover {
    text-decoration: underline;
    color: var(--hover-dead-link-color);
}
collapcontent {
    display: block;
    margin-left: 1.5rem;
}
collapcontent.hidden {
    display: none;
}

.mdbr {
    margin-top: 0.65rem;
    margin-bottom: 0.45rem;
}

#_header, #_footer, #_sidebar {
    background: var(--panel-bg-color);
    border: 0.15rem solid var(--panel-border-color);
    border-radius: 0.35rem;
}
#_main {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column;
}
#_header, #_footer {
    flex: 0 1 auto;
    margin: 0;
    padding: 0.2rem 0.5rem 0.25rem 0.5rem;
}
#_header {
    margin-bottom: var(--hsep-size);
}
#_footer {
    margin-top: var(--hsep-size);
}
#_content {
    flex: 1 1 auto;
    padding: 2rem 2.75rem 2.25rem 2.75rem;
}
#_content > :is(h1, h2, h3, h4, h5, h6):first-child {
    margin-top: 0;
}
#_content > :is(p):last-child {
    margin-bottom: 0;
}
#_sidebar {
    padding: 0.5rem;
    margin-right: {{ sep_maxsize }};
    min-width: var(--sidebar-width);
    max-width: var(--sidebar-width);
}
@media (width >= 0px) {
    #_sidebar {
        margin-right: var(--vsep-size);
    }
}
.sidebarimg {
    width: var(--sidebar-width);
    height: var(--sidebar-width);
    max-width: {{ sidebar_maxwidth }};
    max-height: {{ sidebar_maxwidth }};
}
@media print {
    code {
        border: 0.1em solid var(--code-bg-color);
        padding: 0 0.2em;
    }
    pre > code {
        border-width: 0;
        padding: 0;
    }
    pre {
        border: 0.1em solid var(--code-bg-color);
    }
    * :not(html, body, #_main, #_content, #_content *) {
        display: none !important;
    }
}
