{% assign lim = 256 %}
{% assign ls = site.pages %}
{% assign starturl = include.dir | prepend: "/docs/" | append: "/" %}
{% for p in ls %}
{% if p.url == starturl %}
{% assign c = p.start %}
{% break %}
{% endif %}
{% endfor %}
{% for i in (1..lim) %}
{% assign url = starturl | append: c | append: "/" %}
{% for p in ls %}
{% if p.url == url %}
<a href="{{ p.url }}">{{ p.title }}</a><br>
{% assign c = p.next %}
{% break %}
{% endif %}
{% endfor %}
{% if c == nil %}
{% break %}
{% endif %}
{% endfor %}
