<a href="/"><img src="/icon.png" style="height: var(--sidebar-width); width: var(--sidebar-width);"></img></a>
<hr style="margin-top: 6px; border: 1px solid #7b8dc3;">
<b>Links</b><br>
<a href="https://github.com/PlatinumSrc">GitHub Organization</a><br>
<a href="https://github.com/PlatinumSrc/PlatinumSrc">Engine source code</a><br>
<a href="https://github.com/PlatinumSrc/platinumsrc.github.io">Website source code</a><br>
<hr style="border: 1px dashed #7b8dc3;">
<b>Downloads</b><br>
<collapsible nocache>
    <collaptext>Editor</collaptext><br>
    <collapcontent>
        <a href="https://github.com/PlatinumSrc/PlatinumSrc/releases/latest/download/psrc_assets.zip">Base files (required)</a><br>
        <a href="https://github.com/PlatinumSrc/PlatinumSrc/releases/latest/download/psrc_editor_linux_x86_64.tar.gz">Linux x86_64</a><br>
        <a href="https://github.com/PlatinumSrc/PlatinumSrc/releases/latest/download/psrc_editor_windows_i686.zip">Windows i686</a><br>
    </collapcontent>
</collapsible>
<collapsible nocache>
    <collaptext>Engine</collaptext><br>
    <collapcontent>
        <a href="https://github.com/PlatinumSrc/PlatinumSrc/releases/latest/download/psrc_assets.zip">Base files (required)</a><br>
        <a href="https://github.com/PlatinumSrc/PlatinumSrc/releases/latest/download/psrc_engine_linux_x86_64.tar.gz">Linux x86_64</a><br>
        <a href="https://github.com/PlatinumSrc/PlatinumSrc/releases/latest/download/psrc_engine_linux_i686.tar.gz">Linux i686</a><br>
        <a href="https://github.com/PlatinumSrc/PlatinumSrc/releases/latest/download/psrc_engine_windows_i686.zip">Windows i686</a><br>
        <a href="https://github.com/PlatinumSrc/PlatinumSrc/releases/latest/download/psrc_engine_nxdk.zip">Xbox (NXDK)</a><br>
    </collapcontent>
</collapsible>
