<a href="/"><img src="/icon.png" style="height: var(--sidebar-width); width: var(--sidebar-width);"></img></a>
<hr style="border: 1px solid #7b8dc3;"><br>
<b>Links</b><br>
<a href="https://github.com/PlatinumSrc">GitHub Organization</a><br>
<a href="https://github.com/PlatinumSrc/PlatinumSrc">Engine source code</a><br>
<a href="https://github.com/PlatinumSrc/platinumsrc.github.io">Website source code</a><br>
<hr style="border: 1px dashed #7b8dc3;"><br>
<b>Downloads</b><br>
<collapsible nocache>
    <collaptext>Editor</collaptext><br>
    <collapcontent>
        <a href="https://github.com/PlatinumSrc/PlatinumSrc/releases/latest/download/psrc_assets.zip" target="_blank">Base files (required)</a><br>
        <a href="https://github.com/PlatinumSrc/PlatinumSrc/releases/latest/download/psrc_editor_linux_x86_64.tar.gz" target="_blank">Linux x86_64</a><br>
        <a href="https://github.com/PlatinumSrc/PlatinumSrc/releases/latest/download/psrc_editor_windows_i686.zip" target="_blank">Windows i686</a><br>
    </collapcontent>
</collapsible>
<collapsible nocache>
    <collaptext>Engine</collaptext><br>
    <collapcontent>
        <a href="https://github.com/PlatinumSrc/PlatinumSrc/releases/latest/download/psrc_assets.zip" target="_blank">Base files (required)</a><br>
        <a href="https://github.com/PlatinumSrc/PlatinumSrc/releases/latest/download/psrc_engine_linux_x86_64.tar.gz" target="_blank">Linux x86_64</a><br>
        <a href="https://github.com/PlatinumSrc/PlatinumSrc/releases/latest/download/psrc_engine_linux_i686.tar.gz" target="_blank">Linux i686</a><br>
        <a href="https://github.com/PlatinumSrc/PlatinumSrc/releases/latest/download/psrc_engine_windows_i686.zip" target="_blank">Windows i686</a><br>
        <a href="https://github.com/PlatinumSrc/PlatinumSrc/releases/latest/download/psrc_engine_nxdk.zip" target="_blank">Xbox (NXDK)</a><br>
    </collapcontent>
</collapsible>
<hr style="border: 1px dashed #7b8dc3;"><br>
<b>Documentation</b><br>
<collapsible>
    <collaptext>Editor</collaptext><br>
    <collapcontent>
        {% include _doclinks.html dir='editor' %}
    </collapcontent>
</collapsible>
<collapsible>
    <collaptext>PBASIC</collaptext><br>
    <collapcontent>
        {% include _doclinks.html dir='pbasic' %}
    </collapcontent>
</collapsible>
<collapsible>
    <collaptext>Engine</collaptext><br>
    <collapcontent>
        {% include _doclinks.html dir='engine' %}
    </collapcontent>
</collapsible>
<collapsible>
    <collaptext>File formats</collaptext><br>
    <collapcontent>
        {% include _doclinks.html dir='formats' %}
    </collapcontent>
</collapsible>
