{% if page.section == nil %}
{% assign pagetitle = "PlatinumSrc - " | append: page.title %}
{% else %}
{% assign pagetitle = "PlatinumSrc: " | append: page.section | append: " - " | append: page.title %}
{% endif %}
<!DOCTYPE html>
<html lang="en" style="padding: 0px;">
    <head>
        <title>{{ pagetitle }}</title>
        <link rel="icon" href="/icon.png"></link>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/base.css">
        <script async src="/base.js"></script>
        <meta name="description" content="PlatinumSrc">
        <meta property="og:title" content="PlatinumSrc">
        <meta property="og:description" content="PlatinumSrc GitHub Page">
        <meta property="og:image" content="/mbedicon.png">
        <meta name="theme-color" content="#5f8bc3">
    </head>
    <body style="display: flex; flex-flow: row;">
        <div class="sidebar">
            {% include sidebar.html %}
        </div>
        <div style="min-width: var(--vsep-size);"></div>
        <div style="display: flex; flex: 1 1 auto; flex-flow: column;">
            <div class="header" style="flex: 0 1 auto;">
                {% include header.html %}
            </div>
            <div class="content" style="flex: 1 1 auto;">
                {{ content }}
            </div>
            <div class="footer" style="flex: 0 1 auto;">
                {% include footer.html %}
            </div>
        </div>
    </body>
</html>
