{%- include globals.liquid -%}
{%- capture title -%}
    {%- if page.section -%}
        {{- "PlatinumSrc: " | append: page.section | append: " - " | append: page.title -}}
    {%- else -%}
        {{- "PlatinumSrc - " | append: page.title -}}
    {%- endif -%}
{%- endcapture -%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <link rel="icon" href="/icon.png"></link>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            html {background-color: {{ bg-color }};}
            body {display: none;}
        </style>
        <link rel="stylesheet" href="/base.css">
        <meta name="description" content="PlatinumSrc">
        <meta property="og:title" content="{{ title }}">
        <meta property="og:description" content="PlatinumSrc GitHub Page">
        <meta property="og:image" content="/mbedicon.png">
        <meta name="theme-color" content="#5f8bc3">
    </head>
    <body>
        <div id="_sidebar">
            {%- include sidebar.html -%}
        </div>
        <div id="_main">
            <div id="_header">
                {%- include header.html -%}
            </div>
            <div id="_content">
                {{- content -}}
            </div>
            <div id="_footer">
                {%- include footer.html -%}
            </div>
        </div>
    </body>
    <script type="module">
        var clist = document.getElementsByTagName("collapsible");
        var ccache;
        if (window.localStorage) {
            ccache = window.sessionStorage.getItem("collapcache");
            if (ccache && ccache.length != clist.length) {
                window.sessionStorage.removeItem("collapcache");
                ccache = null;
            }
        }
        if (!ccache) ccache = "0".repeat(clist.length);
        for (var i = 0; i < clist.length; ++i) {
            var c = clist[i];
            c.setAttribute("ccacheno", i);
            var elist1 = c.getElementsByTagName("collaptext");
            var elist2 = c.getElementsByTagName("collapcontent");
            var hascontent = false;
            for (e of elist2) {
                if (e.innerHTML.trim() != "") {
                    hascontent = true;
                    break;
                }
            }
            if (hascontent) {
                for (var j = 0; j < elist1.length; ++j) {
                    var e = elist1[j];
                    e.classList.add("collapsible-link");
                    e.onclick = function() {
                        function setccache(n, v, c) {
                            ccache = ccache.substring(0, n) + v + ccache.substring(n + 1);
                            if (window.localStorage && c) {
                                var tmpccache = window.sessionStorage.getItem("collapcache");
                                if (!tmpccache) tmpccache = "0".repeat(clist.length);
                                tmpccache = tmpccache.substring(0, n) + v + ccache.substring(n + 1);
                                window.sessionStorage.setItem("collapcache", tmpccache);
                            }
                        }
                        var p = this.parentElement;
                        var ccn = parseInt(p.getAttribute("ccacheno"));
                        var contentlist = p.getElementsByTagName("collapcontent");
                        if (ccache[ccn] == 1) {
                            setccache(ccn, "0", p.getAttribute("nocache") == null);
                            for (var n = 0; n < contentlist.length; ++n) {
                                contentlist[n].classList.add("hidden");
                            }
                        } else {
                            setccache(ccn, "1", p.getAttribute("nocache") == null);
                            for (var n = 0; n < contentlist.length; ++n) {
                                contentlist[n].classList.remove("hidden");
                            }
                        }
                        return false;
                    };
                }
                if (ccache[i] != '1') {
                    for (e of elist2) {
                        e.classList.add("hidden");
                    }
                }
            }
        }
    </script>
</html>
